<div class="container modalPopup" *ngIf="pet">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="big-dialog">
        <div class="clearfix">
          <div class="pull-left dialog-picture">
            <img class="small-profile-picture" [src]="'https://pettinder.herokuapp.com/'+ pet.image">
          </div>
          <h3>{{pet.name}}</h3>
          <p>{{pet.profileText}}</p>
        </div>
        <div class="clearfix">


          <form (ngSubmit)="onSubmit()" [formGroup]="sendTextForm">
            <label>Name</label>
            <input class="form-control" formControlName="name" placeholder="Name" type="text">
            <button class="btn btn-primary pull-right" type="submit">Let's Play</button>
          </form>
          <a class="btn btn-primary pull-right" [routerLink]="['/']">Cancel</a>

        </div>
      </div>
    </div>
  </div>
</div>
